# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SWEPT_DONGLE

config ZMK_KEYBOARD_NAME
	default "Swept tmls"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config PROSPECTOR_USE_AMBIENT_LIGHT_SENSOR
	default n
	
config PROSPECTOR_FIXED_BRIGHTNESS
	default 80
	
endif

if SHIELD_SWEPT_LEFT || SHIELD_SWEPT_RIGHT || SHIELD_SWEPT_DONGLE 

config ZMK_SPLIT
	default y

config I2C
	default y
      
config ZMK_POINTING
	default y

endif